
<div id="main">
  <div class="jumbotron">
    <h1 class="display-5">Sistema Gestor de Obras y Proyectos de Arquitectura</h1>
        
    <hr class="my-4"/>
  </div>

  <div class="card float-left w-75">
    <div class="card-header"> 
      <h4>Menu principal</h4>
    </div>
    <div class="card-body" style="height: 100vh; padding-bottom: 30px;">
    </div>
  </div>

  <div class="card float-right w-25">
    <div class="card-header"> 
      <h4>Proyectos en curso</h4>
    </div>
    <div class="card-body" style="height: 100vh; padding-bottom: 30px;">
    </div>
  </div>
</div>

