<div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px'}"></ngx-loading>

  <div class="card">
      <div class="card-header">
      <h3 class="card-title">Familias</h3>
    </div>
    <div class="card-body">
        <!-- <button class="btn btn-sm btn-primary">Agregar</button> -->

        <!-- TODO -->
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class="btn btn-sm btn-primary float-right">+</a>
    </div>
    <div class="card-body">
        <table class='table table-striped' *ngIf="families">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let family of families">
                <td>{{ family.familyId }}</td>
                <td>{{ family.name }}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
