<div>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Categorias</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a [routerLink]="['/categories-add']" routerLinkActive="router-link-active" class="btn btn-sm btn-primary float-right">Agregar</a>
    </div>
    <div class="card-body">
      <table class='table table-striped' *ngIf="categories">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Familia</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.family.name }}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-danger btn-space" (click)="deleteCategory(category)">Eliminar</button>
                <button class="btn btn-primary btn-space" [routerLink]="['/categories-edit/' + category.id]">Modificar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
