<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="construction">
          <h4>Computo Metrico - Construccion: {{construction.name}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <label class="col-md-12 control-label">Seleccionar Item</label>
        <div class="col-md-12">
          <select class="form-control" [(ngModel)]="itemId">
            <option value="0">--Items--</option>
            <option *ngFor="let item of items" value={{item.id}}>{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <label>Cantidad</label>
        <input class="form-control" [(ngModel)]="quantity" id="quality" type="text" required />
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-space" [disabled]="!itemId" id="button_center" type="button" (click)="onSelectItem()">
          Agregar
        </button>
      </div>
    </div>

    <div class="card-body ">
      <table class="table table-striped" *ngIf="itemsDetail.length">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Costo Unitario</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemDetalle of itemsDetail,let i=index">
            <td>{{itemDetalle.item.name}}</td>
            <td>{{itemDetalle.item.price}}</td>
            <td>{{itemDetalle.quantity}}</td>
            <td>{{itemDetalle.item.price * itemDetalle.quantity}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-danger btn-space" (click)="deleteItem(i)">Quitar</button>
                <button class="btn btn-primary btn-space">Modificar</button>
                <button class="btn btn-primary btn-space">Ver</button>
              </div>
            </td>
          </tr>
          <tr *ngIf="total">
            <th></th>
            <th></th>
            <th>Total</th>
            <th>${{total}}</th>
            <th></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-secondary btn-space" type="button" [routerLink]="['/construction-detail/' + constructionId]">Cancelar</button>
          <button class="btn btn-primary btn-space" [disabled]="!itemsDetail.length" (click)="createCalculation()">Guardar</button>
        </span>
      </div>
    </div>
  </div>
</div>
