<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h3>Computo Metrico</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <label class="col-md-2 control-label">Agregar Item</label>
      <div class="col-md-4">
        <select class="form-control" [(ngModel)]="itemId">
          <option value="0">--Items--</option>
          <option *ngFor="let item of items" value={{item.id}}>{{item.name}} $ {{item.price}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <input class="form-control"
               [(ngModel)]="quantity"
               id="quality"
               type="text"
               required />
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary btn-space"
                type="button"
                (click)="onSelectItem()">
          Agregar
        </button>
      </div>
    </div>

    <div class="card-body ">
      <table class="table table-striped" *ngIf="itemsDetalle">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Costo Parcial</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemDetalle of itemsDetalle,let indice=index">
            <td>{{itemDetalle.item.name}}</td>
            <td>{{itemDetalle.quantity}}</td>
            <td>{{itemDetalle.item.price * itemDetalle.quantity}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-danger btn-space" (click)="quitarDeTabla(indice)">Quitar</button>
                <button class="btn btn-primary btn-space">Modificiar</button>
                <button class="btn btn-primary btn-space">Ver</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-body row justify-content-end">
      <label class="control-label col-md-3">Total</label>
      <label class="control-label col-md-3">$ {{total}}</label>
      <button class="btn btn-primary btn-space col-md-3" (click)="update()">Guardar</button>
    </div>
  </div>
</div>
