<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-6">
        <h3>Computo Metrico</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <label class="col-md-2 control-label">Agregar Item</label>
      <div class="col-md-4">
        <select class="form-control" (change)="onSelectItem($event.target.value)">
          <option value="0">--Items--</option>
          <option *ngFor="let item of items" value={{item.id}}>{{item.name}}</option>
        </select>
      </div>
      <div class="col-md-4">
        <input class="form-control"
               id="quality"
               type="text"
               required />
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary btn-space"
                type="button">
          Agregar
        </button>
      </div>
    </div>
    <div class="table-section">
      <table class="table table-striped" *ngIf="categories">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Costo Parcial</th>
            <th>Costo Parcial</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemDetalle of itemsDetalle">
            <td>{{itemDetalle.item.name}}</td>
            <td>{{itemDetalle.quantity}}</td>
            <td>{{itemDetalle.item.cost * itemDetalle.quantity}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-danger btn-space">Quitar</button>
                <button class="btn btn-primary btn-space">Modificiar</button>
                <button class="btn btn-primary btn-space">Ver</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
