<h1>{{EditionMode ? 'Editar' : 'Agregar'}} Item</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label">Nombre</label>
      <div class="col-md-8">
        <input class="form-control"
               id="name"
               type="text"
               required
               formControlName="name" />
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="col-md-2 control-label">Materiales</label>
        <div class="col-md-3 ">
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="materialId" (change)="onSelectMaterial($event.target.value)" style="width:150px;">
            <option value="0">--Material--</option>
            <option *ngFor="let material of materials" value={{material.id}}>{{material.name}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <button class="btn btn-primary" [disabled]="!materialId" type="button" (click)="addMaterial()">Agregar</button>
        </div>
      </div>
    </div>

    <div class="row"> 
      <div class="col-md-3">
        <label class="control-label">Total</label>
      </div>
      <div class="col-md-3">
        <input disabled value={{price}} />
      </div>
    </div>


    <h5>Materiales Seleccionados</h5>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of selectedMaterials; let i = index">
            <td>{{ material.id }}</td>
            <td>{{ material.name }}</td>
            <td>{{ material.price }}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-danger btn-space" type="button" (click)="removeMaterial(i)">Quitar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Guardar
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/items"]'>
            Cancelar
          </button>
        </span>
      </div>
    </div>
  </fieldset>
</form>
