<h1>{{EditionMode ? 'Editar' : 'Agregar'}} Material</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label">Nombre</label>
      <div class="col-md-8">
        <input class="form-control"
               id="name"
               type="text"
               required
               formControlName="name" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Precio</label>
      <div class="col-md-8">
        <input class="form-control"
               id="price"
               type="number"
               required
               formControlName="price" />
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Unidades</label>
      <div class="col-md-3 ">
        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="unitId" (change)="onSelectUnit($event.target.value)" style="width:150px;">
          <option value="0">--Unidades--</option>
          <option *ngFor="let unit of units" value={{unit.id}}>{{unit.name}}</option>
        </select>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label class="col-md-4 control-label">Familia</label>
        <div class="col-md-12">
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="familyId" (change)="onSelectFamily($event.target.value)" style="width:150px;">
            <option value="0">--Familias--</option>
            <option *ngFor="let family of families" value={{family.id}}>{{family.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label">Categoria</label>
        <div>
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="categoryId" (change)="onSelectCategory($event.target.value)" style="width:150px;">
            <option value="0">--Categorias--</option>
            <option *ngFor="let category of categoriesFiltered" value={{category.id}}>{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

    <div class="form-group">
      <div class="col-md-4 col-md-offset-2">
        <span>
          <button class="btn btn-primary"
                  type="submit"
                  [disabled]="!formGroup.valid">
            Guardar
          </button>
          <button class="btn"
                  type="button"
                  [routerLink]='["/materials"]'>
            Cancelar
          </button>
        </span>
      </div>
    </div>
  </fieldset>
</form>
